body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR53-zuiNa7eIpvbfufezAvQmT95APVw5oNEWCXCUBlNg&s");
    
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: 3000px;
}
.nav-item{
    Color:white
}
.nitin{
    position: fixed;
    top:0%;
    left:0%;
    width: 100%;
}
.nav-link active{
    Color: white
}
.navbar-brand{
    Color: white
}
.payal{
    
    text-align: center;
    margin: 40px
    
}
.payal{
    text-align: middle;
    
}